<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>patient</title>
    <link rel="stylesheet" href="style/patient.css">
</head>
<body>
    <div class="main">
        <div class="logo">
            <img src="/images/speechSahayak_copy.png" alt="">
        </div>

        <div class="registerpage">
            <h1>Signin Patient</h1>
        </div>
        <div class="signupform">
    
            <form action="/patient" method="post">
                <label for="patientName">Name</label>
                <input type="text" name="patientName" required><br>
                <label for="patientEmail">Email</label>
                <input type="email" name="patientEmail" required><br>
                <label for="patientPassword">password</label>
                <input type="password" name="patientPassword" required><br>
        
                <button type="submit">submit</button>
            </form>
        </div>
        
    </div>
</body>
</html>